<title>添加菜单</title>
    <div class="layui-col-md12">
      <div class="layui-card">
        <div class="layui-card-header">添加菜单</div>
            <div class="layui-card-body">

      <form class="layui-form" action="" lay-filter="component-form-group">

        <div class="layui-form-item">
          <label class="layui-form-label">单行输入框</label>
          <div class="layui-input-block">
            <input type="text" name="title" lay-verify="title" autocomplete="off" placeholder="请输入标题" class="layui-input">
          </div>
        </div>


      </form>





            </div>
        </div>
    </div>
